@import "tailwindcss";

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */

body {
  background-color: #f5f5f5;
  color: #111827;
  font-family: Arial, Helvetica, sans-serif;
}

/* Links */

a {
  text-decoration: none;
}

/* Buttons */

button {
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  opacity: 0.9;
}